<!DOCTYPE html>
<html>
<head><title>Profile</title></head>
<body>
  <h2>Welcome, <%= user.name %>!</h2>
  <p>Your balance: $<%= user.balance %></p>
  <a href="/slot">Play Slot Machine</a>
  <a href="/login">Log out</a>
</body>
</html>
