<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Profile</title>
</head>
<body>
  <% if (user) { %>
    <p>Welcome, <%= user.username %> | Balance: $<%= balance %></p>
    <form action="/logout" method="get">
      <button>Logout</button>
    </form>
    <form action="/add-funds" method="post">
      <input type="number" name="amount" placeholder="Sum" required style="width: 100px;" />
      <button type="submit">Add Funds</button>
    </form>
  <% } else { %>
    <div class="container">
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
  <% } %>

  <h2>SMT</h2>
</body>
</html>