<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/slot.css">
  <title>Wheel</title>
</head>
<body>
  <div class="container">
    <div id="error-message" class="error-message" style="display:none;"></div>
    <div id="spin-message" class="spin-message" style="display:none;"></div>
    <div id="try-message" class="try-message" style="display:none;"></div>

    <div class="balance-display">
      <p>Welcome, <span style="color: #fff;"><%= user.username %></span></p>
      <p>Balance: $<span id="balance"><%= balance %></span></p>
    </div>

    <div class="slot-machine">
      <div class="reels">
        <div class="reel" id="reel1"></div>
        <div class="reel" id="reel2"></div>
        <div class="reel" id="reel3"></div>
      </div>
      <div class="controls">
        <form method="POST" action="/deduct-funds">
          <input 
            type="number" 
            name="amount" 
            placeholder="Bet" 
            required 
            class="input"
          />
        <button type = "submit" class="btn btn-spin">SPIN</button>
      </form>
        <div class="message-result"></div>
      </div>
    </div>

    <p style="text-align: center; margin-top: 20px; margin-bottom: auto;">
      Back to <a href="/profile" class="link">profile</a>
    </p>
  </div>
  <script src="/slot.js"></script>

</body>
</html>